<navbar></navbar>
<div class="col-md-6 col-md-offset-3">
<form id="new-form" name="newForm" ng-submit="newForm.$valid && newProject(new)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Project name</label>
        <input type="text" ng-model="new.title" class="form-control" id="title" placeholder="Enter project name">
    </div>

    <strong>Pick a template</strong>
    <div class="row">
      <!-- Template Columns -->
      <!-- Single template thumbnail/radio - START -->
      <div class="col-sm-6 col-md-4" ng-repeat= 'template in templates'>
        <div class="thumbnail">
          <img ng-src="images/{{template.title}}.png" alt="...">
          <div class="caption">
            <div class="radio">
              <label>
                <input type="radio" name="template" ng-model="new.template" value="{{template.title}}">{{template.title}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- Single template thumbnail/radio - END -->
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
</form>
</div>
