.modal-content-home {
  background-color: transparent !important;
  text-align: center;
  font-family: 'Avenir Next', 'sans-serif';
  color: hsla(0, 0%, 100%, .55);
}

#modalinput {
  width: 21%;
  display: inline;
  // text-align: center;
}

#signupBtn {
  margin-bottom: 3px;
}

#home {
  .fullstack-logo {
    padding-top: 0px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 20px;
    text-align: center;
  }
}

#signupheader {
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(34%, rgba(212, 228, 239, 1)), color-stop(54%, rgba(186, 210, 227, 1)), color-stop(94%, rgba(134, 174, 204, 1)));
  background: -webkit-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(212, 228, 239, 1) 34%, rgba(186, 210, 227, 1) 54%, rgba(134, 174, 204, 1) 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#signuptext {
  background: -webkit-linear-gradient( right, #1CACFF, #19E6DB, #82FFC1, #19E6DB, #1CACFF, #19E6DB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

.overlay {
  position: absolute;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  top: 30%;
  left: 33%;
  z-index: 1;
  #title {
    font-size: 80px;
    font-style: "open-sans" !important;
    font-weight: 100 !important;
    text-align: center;
    letter-spacing: .1px;
    color: #fff !important;
  }
  .title-text {
    color: #fff !important;
    letter-spacing: .1px;
    font-style: "open-sans" !important;
    font-weight: 100 !important;
    text-align: center;
  }
  #btn {
    margin-top: 40px;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    color: #fff !important;
    font-weight: 100 !important;
  }
}

// ------------------------------------------------
// Navbar variables and custom styles for home page
// ------------------------------------------------
// Variables
$brand-primary: #ffffff;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;
// Custom Navigation Bar
#mainNav .nav > li > a.active {
  color: #ffffff;
}

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 5px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.navbar {
  // border-color: transparent;
  // border-bottom: 1px solid transparent !important;
  .welcome {
    float: right;
    margin-top: 8px;
    span {
      color: #ffffff;
      font-size: 16px;
      margin-right: 5px;
    }
    .welcome-message {
      float: left;
      margin-top: 6px;
    }
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .login-button {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    transition: 0.5s ease;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  .logout-button {
    color: #fff;
    float: right;
    border: 1px solid #fff;
    background: none;
    margin-top: 2px;
    border-radius: 0px;
    // outline: none !important;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  .navbar-buttons {
    margin-top: 2px;
  }
}

.navbar-home .nav > li > a.active {
  color: #fff;
}

.navbar-home {
  background-color: $gray-darkest;
  border-bottom: 0px solid transparent;
  border-color: transparent;
  background-color: transparent;
  .navbar-brand {
    color: $brand-primary;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($brand-primary, 10%);
    }
  }
  .navbar-collapse {
    border-color: fade(white, 2%);
  }
  .navbar-toggle {
    background-color: $brand-primary;
    border-color: $brand-primary;
    .icon-bar {
      background-color: white;
    }
    &:focus,
    &:hover {
      background-color: $brand-primary;
    }
  }
  .nav {
    li {
      a {
        font-weight: 400;
        letter-spacing: 1px;
        color: white;
        &:focus,
        &:hover {
          color: $brand-primary;
          outline: none;
        }
      }
    }
  }
  .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: $brand-primary;
  }
  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover {
    color: white;
    background-color: darken($brand-primary, 10%);
  }
}

@media(min-width:768px) {
  .navbar-home {
    background-color: transparent;
    padding: 5px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav > .active > a {
      border-radius: 3px;
    }
  }
  .navbar-home.navbar-shrink {
    background-color: $gray-darkest;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}

@media(min-width:1400px) {
  .overlay {
    left: 38%;
  }
  .modal-content {
    right: 20px;
  }
}

@-webkit-keyframes home {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes home {
  0% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  10% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  18% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  20% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  28% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  30% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  38% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  40% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  48% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  50% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  58% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  60% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  68% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-home.animated,
.faa-home.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-home {
  -webkit-animation: home 2.5s ease infinite;
  animation: home 2.5s ease infinite;
  transform-origin-x: 90%;
  transform-origin-y: 35%;
  transform-origin-z: initial;
}

@-webkit-keyframes burst {
  0% {
    opacity: .6;
  }
  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes burst {
  0% {
    opacity: .6;
  }
  50% {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.faa-burst.animated,
.faa-burst.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-burst {
  -webkit-animation: burst 3s infinite linear;
  animation: burst 3s infinite linear;
}
