#dragitemslist {
  z-index: 1000;
  position: absolute;
  left: 0px;
  width: 10vw;
  height: 104vh;
  // margin-left: -250px;
  overflow-y: auto;
  background: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

// #dragitemslist + div {
//   margin-top: 170px;
//   border-top: 5px solid #00bbff;
// }

#dragitemslistcontainer {
  list-style: block;
  padding: 0px;
}

#dragitemslistcontainer > li {
  display: block;
  margin-right: 2px;
  padding: 10px 15px;
  cursor: move;
  color: white;
  border: 1px solid;
  min-width: 85px;
  color: #a0f4ff;
  background-color: #27495e;
}

#dragitemslistcontainer > li i {
  font-size: 40px;
  /* color: rgb(0, 187, 255); */
}

#dragitemslistcontainer > li p {
  margin: 0px;
}

#skeleton {
  background: #000;
  border: none;
  height: 99vh;
  width: 80vw;
}



.noPadding {
  padding: 0 !important;
  margin: 0 !important;
}

#CSSitemlist {
  z-index: 1000;
  position: absolute;
  right: 0px;
  width: 10vw;
  height: 104vh;
  // margin-left: -250px;
  overflow-y: auto;
  background: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

// #dragitemslist + div {
//   margin-top: 170px;
//   border-top: 5px solid #00bbff;
// }

#CSSitemlistcontainer {
  list-style: block;
  padding: 0px;
}

#CSSitemlistcontainer > li {
  display: block;
  margin-right: 2px;
  padding: 10px 15px;
  cursor: move;
  color: white;
  border: 1px solid;
  min-width: 85px;
  color: #a0f4ff;
  background-color: #27495e;
}

#CSSitemlistcontainer > li i {
  font-size: 40px;
  /* color: rgb(0, 187, 255); */
}

#CSSitemlistcontainer > li p {
  margin: 0px;
}