body {
  background: #fdfdfd; }

#main {
  margin: 0 auto; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

.navbar-wr {
  background-color: #222;
  border-color: #ededed;
  border-bottom: transparent; }
  .navbar-wr .welcome {
    float: right;
    margin-top: 12px; }
    .navbar-wr .welcome .welcome-message {
      color: #777;
      float: left;
      margin-top: 6px; }
    .navbar-wr .welcome .login-button {
      color: #777;
      border: 1px solid #777; }
    .navbar-wr .welcome .btn-wr {
      color: #000;
      border: 1px solid #777;
      background: none;
      margin-top: 2px;
      border-radius: 0px;
      transition: 0.3s ease; }
      .navbar-wr .welcome .btn-wr:hover {
        color: #fff;
        background-color: #000;
        border: 1px solid #000; }
      .navbar-wr .welcome .btn-wr:focus {
        box-shadow: 0px; }
    .navbar-wr .welcome .logout-button {
      color: #000;
      float: right;
      border: 1px solid #777;
      background: none;
      margin-top: 2px;
      border-radius: 0px;
      transition: 0.5s ease; }
      .navbar-wr .welcome .logout-button:hover {
        color: #fff;
        background-color: #000;
        border: 1px solid #000; }
      .navbar-wr .welcome .logout-button:focus {
        box-shadow: 0px; }
    .navbar-wr .welcome span {
      color: black;
      font-size: 16px;
      margin-right: 5px; }
    .navbar-wr .welcome a {
      color: #f30046;
      cursor: pointer; }

.navbar {
  display: block;
  background: #f2f2f2;
  border-bottom: 1px solid transparent;
  margin-bottom: 0px;
  background-color: transparent;
  background: transparent;
  min-width: 100%;
  margin-bottom: 5px; }
  .navbar li {
    color: #000; }
  .navbar .container {
    width: 100%;
    max-width: 1340px;
    padding-top: 0px;
    margin-bottom: 0px; }
  .navbar fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 70px; }
  .navbar a {
    color: #777;
    font-size: 16px; }
  .navbar .nav > li > a {
    color: #777;
    cursor: pointer;
    transition: color 0.2s; }
    .navbar .nav > li > a.active {
      color: #5e5e5e; }
    .navbar .nav > li > a:hover {
      background: none;
      color: #f31214; }
    .navbar .nav > li > a:focus {
      background: none; }
  .navbar .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important; }

project-card {
  margin-top: 30px; }
  project-card .project-content {
    display: block; }
  project-card .project-name {
    float: left;
    margin-left: 10px;
    font-size: 20px;
    padding-bottom: 20px; }
  project-card .project-template {
    float: right;
    margin-right: 10px; }
  project-card .thumbnail {
    padding-bottom: 30px; }

.thumbnail-wr {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #fff;
  transition: box-shadow .25s !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out; }

.thumbnail-wr .thumbnail-img {
  max-height: 80%;
  overflow: hidden;
  margin: 0 auto; }

.thumbnail-wr .thumbnail-img img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%; }

.thumbnail-wr .thumbnail-content {
  max-height: 20%; }

[data-sr] {
  visibility: hidden;
  color: #333; }

#simple {
  text-align: left;
  margin-top: 30%;
  right: 10%; }

#firstanimation {
  margin-top: 28%;
  margin-left: 10%;
  margin-right: 0px;
  position: relative;
  transform: translateY(-50%);
  font-size: 100px;
  font-family: 'Avenir Next', 'sans-serif';
  font-weight: 100 !important;
  text-align: left;
  letter-spacing: .1px; }
  #firstanimation #imagebottom {
    position: absolute;
    margin-top: 5%; }

#secondanimation {
  text-align: center;
  font-family: 'effra', 'proxima';
  bottom: 45vh;
  background-color: #32cdc7;
  color: white; }

.modal-content-home {
  background-color: transparent !important;
  text-align: center;
  font-family: 'Avenir Next', 'sans-serif';
  color: rgba(255, 255, 255, 0.55); }

#modalinput {
  width: 21%;
  display: inline; }

#signupBtn {
  margin-bottom: 3px; }

#home .fullstack-logo {
  padding-top: 0px;
  width: 150px;
  margin: 0 auto; }

#home h1 {
  margin-top: 20px;
  text-align: center; }

#signupheader {
  background: -webkit-gradient(left top, right top, color-stop(0%, #d4e4ef), color-stop(34%, #d4e4ef), color-stop(54%, #bad2e3), color-stop(94%, #86aecc));
  background: -webkit-linear-gradient(left, #d4e4ef 0%, #d4e4ef 34%, #bad2e3 54%, #86aecc 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#signuptext {
  background: -webkit-linear-gradient(right, #1CACFF, #19E6DB, #82FFC1, #19E6DB, #1CACFF, #19E6DB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

.overlay {
  position: absolute;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  top: 30%;
  left: 33%;
  z-index: 1; }
  .overlay #title {
    font-size: 80px;
    font-style: "open-sans" !important;
    font-weight: 100 !important;
    text-align: center;
    letter-spacing: .1px;
    color: #fff !important; }
  .overlay .title-text {
    color: #fff !important;
    letter-spacing: .1px;
    font-style: "open-sans" !important;
    font-weight: 100 !important;
    text-align: center; }
  .overlay #btn {
    margin-top: 40px;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    color: #fff !important;
    font-weight: 100 !important; }

#mainNav .nav > li > a.active {
  color: #ffffff; }

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 5px 0; }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em; } }

.navbar .welcome {
  float: right;
  margin-top: 8px; }
  .navbar .welcome span {
    color: #ffffff;
    font-size: 16px;
    margin-right: 5px; }
  .navbar .welcome .welcome-message {
    float: left;
    margin-top: 6px; }
  .navbar .welcome a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none; }

.navbar .login-button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  transition: 0.5s ease; }
  .navbar .login-button:hover {
    background-color: #fff;
    color: #000; }

.navbar .logout-button {
  color: #fff;
  float: right;
  border: 1px solid #fff;
  background: none;
  margin-top: 2px;
  border-radius: 0px; }
  .navbar .logout-button:hover {
    background-color: #fff;
    color: #000; }

.navbar .navbar-buttons {
  margin-top: 2px; }

.navbar-home .nav > li > a.active {
  color: #fff; }

.navbar-home {
  background-color: #222;
  border-bottom: 0px solid transparent;
  border-color: transparent;
  background-color: transparent; }
  .navbar-home .navbar-brand {
    color: #ffffff; }
    .navbar-home .navbar-brand.active, .navbar-home .navbar-brand:active, .navbar-home .navbar-brand:focus, .navbar-home .navbar-brand:hover {
      color: #e6e6e6; }
  .navbar-home .navbar-collapse {
    border-color: fade(white, 2%); }
  .navbar-home .navbar-toggle {
    background-color: #ffffff;
    border-color: #ffffff; }
    .navbar-home .navbar-toggle .icon-bar {
      background-color: white; }
    .navbar-home .navbar-toggle:focus, .navbar-home .navbar-toggle:hover {
      background-color: #ffffff; }
  .navbar-home .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white; }
    .navbar-home .nav li a:focus, .navbar-home .nav li a:hover {
      color: #ffffff;
      outline: none; }
  .navbar-home .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #ffffff; }
  .navbar-home .navbar-nav > .active > a:focus,
  .navbar-home .navbar-nav > .active > a:hover {
    color: white;
    background-color: #e6e6e6; }

@media (min-width: 768px) {
  .navbar-home {
    background-color: transparent;
    padding: 5px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-home .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .navbar-home .navbar-nav > .active > a {
      border-radius: 3px; }
  .navbar-home.navbar-shrink {
    background-color: #222;
    padding: 10px 0; }
    .navbar-home.navbar-shrink .navbar-brand {
      font-size: 1.5em; } }

@media (min-width: 1400px) {
  .overlay {
    left: 38%; }
  .modal-content {
    right: 20px; } }

@-webkit-keyframes home {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg); }
  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg); }
  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg); }
  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg); }
  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg); }
  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg); }
  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg); }
  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg); }
  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes home {
  0% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg); }
  8% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg); }
  10% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg); }
  18% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  20% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  28% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg); }
  30% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg); }
  38% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  40% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  48% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg); }
  50% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg); }
  58% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  60% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg); }
  68% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg); }
  75% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }

.faa-home.animated,
.faa-home.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-home {
  -webkit-animation: home 2.5s ease infinite;
  animation: home 2.5s ease infinite;
  transform-origin-x: 90%;
  transform-origin-y: 35%;
  transform-origin-z: initial; }

@-webkit-keyframes burst {
  0% {
    opacity: .6; }
  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes burst {
  0% {
    opacity: .6; }
  50% {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0; }
  100% {
    opacity: 0; } }

.faa-burst.animated,
.faa-burst.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-burst {
  -webkit-animation: burst 3s infinite linear;
  animation: burst 3s infinite linear; }

#about {
  margin: 0 auto;
  width: 90%; }
  #about:after {
    content: "";
    display: table;
    clear: both; }
  #about p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left; }
  #about .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto; }
    #about .carousel .carousel-inner {
      height: 500px !important; }
    #about .carousel .carousel-control {
      background: none; }
    #about .carousel .carousel-indicators {
      display: none; }
    #about .carousel img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto; }

tutorial-section {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0 60px 0; }
  tutorial-section > h1 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold; }

tutorial-video {
  display: block;
  width: 600px;
  margin: 0 auto; }
  tutorial-video h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }
  tutorial-video iframe {
    width: 600px;
    height: 400px; }

tutorial-section-menu {
  display: block; }
  tutorial-section-menu:after {
    content: "";
    display: table;
    clear: both; }
  tutorial-section-menu ul {
    margin-left: 23px;
    list-style-type: none;
    font-weight: 300; }
    tutorial-section-menu ul li {
      float: left;
      margin-right: 40px;
      padding: 10px;
      cursor: pointer; }
      tutorial-section-menu ul li:hover {
        background: #f3f3f3; }

#headerlogin {
  font-size: 60px;
  font-style: "open-sans" !important;
  text-align: center;
  letter-spacing: .1px;
  color: #fff !important;
  font-weight: 10 !important;
  margin-bottom: 40px; }

.alert-danger {
  background-color: #ebccd1;
  border-color: #ebccd1;
  color: #a94442;
  padding-top: 20px;
  border-radius: 0px; }

.alert-login {
  padding: 15px;
  margin: 20px;
  border: 0px solid transparent;
  border-radius: 0px;
  color: #a94442;
  background-color: rgba(235, 204, 209, 0.9); }

#fill-in {
  background: #000;
  height: 100vh;
  text-align: center;
  display: block;
  padding-top: 15%; }

.forminput {
  color: white;
  text-align: center;
  vertical-align: baseline; }

.login-page:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px black inset;
  -webkit-text-fill-color: white; }

.login-page[type=email] {
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #3e3e3e; }
  .login-page[type=email]:focus {
    outline: 0 none;
    box-shadow: 0px;
    border-bottom: 1px solid #fff; }

.btn-wr {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  transition: 0.5s ease;
  border-radius: 0px; }
  .btn-wr:hover {
    background-color: #fff;
    color: #000; }

.login-page[type=password] {
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #3e3e3e; }
  .login-page[type=password]:focus {
    outline: 0 none;
    box-shadow: 0px;
    border-bottom: 1px solid #fff; }

#auth {
  padding-top: 25px; }

.btn-google {
  height: 40px; }
  .btn-google .fa-google {
    text-align: center; }

#email {
  background-color: transparent;
  width: 30%;
  margin-bottom: 15px; }

#login-password {
  background-color: transparent;
  width: 30%;
  margin-bottom: 15px; }

.submitBtn {
  background: transparent;
  border-color: white;
  border-radius: 0px;
  width: 30%;
  color: white;
  margin-bottom: 15px; }

.loginicon {
  margin-right: 25px;
  height: 50px;
  width: 50px; }

* {
  font-size: 12px;
  font-style: "Gotham"; }

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; }

.sidebarFooter {
  position: absolute !important;
  bottom: 20px; }

.category-links {
  margin-bottom: 12px;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  width: 0px;
  transition: 0.3s ease;
  white-space: nowrap;
  height: 25px;
  text-align: left;
  padding-left: 5px;
  padding-top: 2px; }

.category-links:hover {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  width: 100%;
  padding-left: 5px; }

.activeCategory {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  width: 100%; }

.category-links a {
  color: red;
  font: 800 24px/24px 'Vaud Display',Helvetica,sans-serif;
  font-size: 18px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  display: inline; }

.category-links a:after {
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid transparent;
  width: 100%;
  transition: 0.5s ease;
  white-space: nowrap;
  height: 25px;
  padding-left: 5px; }

/*     .category-links hover:after {
border-bottom: none;
  width: 0%;

       }
*/
#dragitemslist {
  position: absolute;
  left: 0px;
  width: 10vw;
  height: 104vh;
  overflow-y: auto;
  background: #f2f2f2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #3e3e3e;
  text-align: center; }

#dragitemslistcontainer {
  border-radius: 5px;
  list-style: block;
  padding: 0px; }

.btn-spacer {
  margin: 3px 0; }

#dragitemslistcontainer > li {
  display: block;
  margin-bottom: 2px;
  padding: 1px 0;
  cursor: move;
  font-style: "open-sans"; }

#dragitemslistcontainer > li i {
  font-size: 20px;
  /* color: rgb(0, 187, 255); */ }

#dragitemslistcontainer > li p {
  margin: 0px; }

#skeleton {
  /*        box-shadow:  0px 15px 12px rgba(0,0,0,0.22),0px 19px 30px rgba(0,0,0,0.3);*/
  box-shadow: -4px 3px 9px 0px rgba(50, 50, 50, 0.64);
  background: #000;
  height: 90vh;
  width: 90vw;
  box-sizing: content-box;
  display: inline; }

.remove-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

#editPage {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%; }

#mySideNav {
  float: left;
  display: inline-block;
  position: relative; }

#editorView {
  float: right;
  padding-right: 30px;
  padding-left: 0px; }

@media (min-width: 992px) {
  #editorView {
    width: 85%;
    height: 100%; }
  #mySideNav {
    width: 30%; }
  #skeleton {
    width: 100%; } }

.icon {
  height: 100px;
  width: 100px; }

.btn-wr {
  color: #000;
  border: 1px solid #000;
  background: none;
  margin-top: 2px;
  border-radius: 0px;
  transition: 0.3s ease; }
  .btn-wr:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #000; }
  .btn-wr:focus {
    box-shadow: 0px; }

.btn:focus, .btn:active {
  outline: none !important; }

.btn {
  border-radius: 0px; }

.btn-wr-login {
  color: #fff;
  border: 1px solid #fff;
  background: none;
  margin-top: 2px;
  border-radius: 0px;
  transition: 0.3s ease; }
  .btn-wr-login:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff; }
  .btn-wr-login:focus {
    box-shadow: 0px; }

.alert-danger {
  padding: 10px;
  border-radius: 0px; }

.form-control {
  border-radius: 0px; }

.form-signup-home {
  border: 1px solid white;
  box-shadow: inset 0 0px 0px white; }

