.navbar-wr {
    background-color: #222;
    border-color: #ededed;
    border-bottom: 1px solid #ededed !important;

    .welcome {
    float: right;
    margin-top: 12px;
    .welcome-message {
        color: #777;
        float:left;
        margin-top: 6px;
    }

    .login-button {
    color: #777;
    border: 1px solid #777;
    }
    .logout-button {
    color: #777;
    float: right;
    border: 1px solid #777;
    background: none;
    margin-top: 2px;
    // outline: none !important;
    }
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }
}

.navbar {
  display: block;
  background: #f2f2f2;
  border-bottom: 1px solid #ededed;
  margin-bottom: 0px;
  background-color: transparent;
  background: transparent;
  min-width: 100%;
  margin-bottom:20px;
  li {
    color: #000;
  }
  .container {
    width: 100%;
    max-width: 1340px;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 70px;
  }
  a {
    color: #777;
    font-size: 16px;
  }
  .nav > li > a {
    color: #777;
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#777, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }
  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }
}
