project-card {

margin-top: 30px;

.project-content {
    display: block;
}

.project-name {
   float:left;
   margin-left: 10px;
   font-size: 20px;
   padding-bottom: 20px;
}

.project-template {
    float:right;
    margin-right: 10px;

}

.thumbnail {
    padding-bottom: 30px
}

}

.thumbnail-wr {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #fff;
  transition: box-shadow .25s !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 0px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.thumbnail-wr .thumbnail-img {
  max-height: 80%;
  overflow: hidden;
  margin: 0 auto;
}

.thumbnail-wr .thumbnail-img img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.thumbnail-wr .thumbnail-content {
    max-height: 20%;
}
