<!-- <navbar-home></navbar-home> -->
  <div class="col-md-12">
    <div type="danger" ng-show="error" class="alert-login">
      {{ error }}
    </div>
  </div>
  <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
    <div id="fill-in">
      <center>
        <div>
          <h1 id="headerlogin" style='font-weight: 100;'>Web-Refinery</h1>
        </div>
        <div class="forminput">
          <input type="email" ng-model="login.email" name="email" id="email" class="login-page" placeholder="Enter Address" required>
          <br>
          <input type="password" ng-model="login.password" id="login-password" class="login-page" placeholder="Password" required>
        </div>
        <br>
        <div class="row">
          <button type="submit" class="submitBtn btn-wr-login">LOGIN</button>
        </div>
      </center>
      <br>
      <a href="/auth/github">
        <img src="/js/login/github.png" class="loginicon" />
      </a>
      <a href="/auth/google" img src="">
        <img src="/js/login/google.png" class="loginicon" />
      </a>
      <a href="/auth/twitter" img src="">
        <img src="/js/login/twitter.png" class="loginicon" />
      </a>
    </div>
  </form>
