<navbar></navbar>
<div class ='row'>
  <div id="mySidenav" class="sidenav col-xs-3 col-md-3 col-lg-1">
   <element-menu id='dragitemslistcontainer'></element-menu>
   <input type = "file"  file-model='file'>
           <button ng-click='upload()'>Upload</button>     
   <button id="htmlButton" type="button" ng-click="parseHtml()" class="btn btn-primary">Save Button</button>
  <button id="htmlButton" type="button" ng-click="edit()" class="btn btn-primary">Edit Button</button>
  <button id="htmlButton" type="button" ng-click="createProject({title:'testing'})" class="btn btn-primary">Create Project</button>

</div>
<!-- <center>
<button id="htmlButton" type="button" ng-click="parseHtml()" class="btn btn-primary">Save Button</button>
  <button id="htmlButton" type="button" ng-click="edit()" class="btn btn-primary">Edit Button</button>
  <button id="htmlButton" type="button" ng-click="createProject({title:'testing'})" class="btn btn-primary">Create Project</button>
</center> -->

  <div class="col-xs-9 col-md-9 col-lg-10" id="editorView">
    <iframe id="skeleton" ng-src="{{projectUrl}}"></iframe>
  </div>
</div>
<!-- //clientframe = skeleton -->
<script src="js/editor/origin.js "></script>
<script>
var editor = new MediumEditor('.editable', {
  toolbar: {
    /* These are the default options for the toolbar,
       if nothing is passed this is what is used */
    allowMultiParagraphSelection: true,
    buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
    diffLeft: 0,
    diffTop: -10,
    firstButtonClass: 'medium-editor-button-first',
    lastButtonClass: 'medium-editor-button-last',
    relativeContainer: null,
    standardizeSelectionStart: false,
    static: false,
    /* options which only apply when static is true */
    align: 'center',
    sticky: false,
    updateOnEmptySelection: false
  }

});
</script>
