<navbar></navbar>
<div class ='row'>
  <div id="mySidenav" class="sidenav col-xs-3 col-md-3 col-lg-1">
   <element-menu id='dragitemslistcontainer'></element-menu>

   <button id="htmlButton" type="button" ng-click="parseHtml()" class="btn btn-primary">Save Button</button>
  <button id="htmlButton" type="button" ng-click="edit()" class="btn btn-primary">Edit Button</button>
  <button id="htmlButton" type="button" ng-click="createProject({title:'testing'})" class="btn btn-primary">Create Project</button>

</div>
<!-- <center>
<button id="htmlButton" type="button" ng-click="parseHtml()" class="btn btn-primary">Save Button</button>
  <button id="htmlButton" type="button" ng-click="edit()" class="btn btn-primary">Edit Button</button>
  <button id="htmlButton" type="button" ng-click="createProject({title:'testing'})" class="btn btn-primary">Create Project</button>
</center> -->

  <div class="col-xs-9 col-md-9 col-lg-10" id="editorView">
    <iframe id="skeleton" ng-src="{{projectUrl}}"></iframe>
  </div>
</div>
<!-- //clientframe = skeleton -->
<script id='originjs' src="js/editor/origin.js "></script>
