<navbar></navbar>
<div class ='row'>
  <!-- Sidebar - Left Column -->
  <div id="mySidenav" class="sidenav col-xs-3 col-md-3 col-lg-2" style="border-right: 1px solid #ededed;">
    <element-menu id='dragitemslistcontainer'></element-menu>

    <div class="col-md-12">
      <button id="htmlButton" type="button" ng-click="parseHtml()" class="btn btn-default btn-spacer">Save Button</button>
      <button id="htmlButton" type="button" class="btn btn-default btn-spacer">Export Project</button>
    </div>
  </div>

  <!-- IFrame - Right Column -->
  <div class="col-xs-9 col-md-9 col-lg-10">
    <iframe id="skeleton" ng-src="{{projectUrl}}"></iframe>
  </div>
</div>

<!-- //clientframe = skeleton -->
<script id='originjs' src="js/editor/origin.js"></script>

<!-- Modal that appear when a text element in the iframe is clicked -->
<script type="text/ng-template" id="editor.modal.html">
    <div class="modal-body">
        <text-angular ng-model="textSelected"></text-angular>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Update</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- colorpicker script and CSS -->
<script src="js/colorpicker/colorpicker.js"></script>
<link rel="stylesheet" type="text/css" href="js/colorpicker/spectrum.css" defer>
<!-- end of colorpicker script and css -->
