#headerlogin {
    font-size: 60px;
    font-style: "open-sans" !important;
    text-align: center;
    letter-spacing: .1px;
    color: #fff !important;
    font-weight: 10 !important;
    margin-bottom: 40px;
}

.alert-danger {
    background-color: #ebccd1;
    border-color: #ebccd1;
    color: #a94442;
    padding-top: 20px;
    border-radius: 0px;
}

.alert-login {
    padding: 15px;
    margin: 20px;
    border: 0px solid transparent;
    border-radius: 0px;
    color: #a94442;
    background-color: rgba(235,204,209, 0.9);
}

#fill-in {
  background: #000;
  height: 100vh;
  text-align: center;
  display: block;
  padding-top: 15%;
}

.forminput {
  color: white;
  text-align: center;
  vertical-align: baseline;
}

.login-page:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px black inset;
  -webkit-text-fill-color: white;
}

.login-page[type=email] {
  color:white;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #3e3e3e;
  &:focus {
    outline: 0 none;
    box-shadow: 0px;
    border-bottom: 1px solid #fff;
  }
}

.btn-wr {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  transition: 0.5s ease;
  border-radius: 0px;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.login-page[type=password] {
  color:white;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #3e3e3e;
  &:focus {
    outline: 0 none;
    box-shadow: 0px;
    border-bottom: 1px solid #fff;
  }
}

#auth {
  padding-top: 25px;
}

.btn-google {
  height: 40px;
  .fa-google {
    text-align: center;
  }
}

#email{
  background-color: transparent;
  width: 30%;
  margin-bottom: 15px;
}

#login-password{
  background-color: transparent;
  width: 30%;
  margin-bottom: 15px;
}

.submitBtn {
  background: transparent;
  border-color: white;
  border-radius: 0px;
  width: 30%;
  color: white;
  margin-bottom: 15px;
}

.loginicon {
  margin-right: 25px;
  height: 50px;
  width: 50px;
}


