<div id="mainNav" class="navbar narbar-default navbar-home navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <fullstack-logo></fullstack-logo>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
        <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
      </li>
    </ul>

    <div ng-show="user" class="welcome">
      <span class="welcome-message">Welcome, {{ user.email }}!</span>
      <span class="navbar-buttons">
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <button class="btn logout-button" ng-click="logout()">Logout</button>
      </span>
    </div>
    <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
  </div>
</div>
