<navbar-home></navbar-home>
<div class="modal fade bs-example-modal-lg" id='myModal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <form novalidate name="loginForm" ng-submit="loginForm.$valid && createuser(user)">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-content-home">
        <!-- <alert type="danger" ng-show="error">
          {{ error }}
        </alert> -->
        <h1 class="home" id="signupheader">The all-in-one web design platform</h1>
        <p id="signuptext">Design, prototype, and launch dynamic, responsive websites
          <br> All in your browser, without writing code.
        </p>
        <input class="form-control form-signup-home" id="modalinput" type="text" placeholder="First Name" ng-model="user.first_name" required>
        <!-- <div ng-messages="loginForm.first_name.$error" ng-show="loginForm.first_name.$invalid && loginForm.first_name.$dirty" role="alert">
          <div ng-message="required" class="alert alert-danger">Please Enter First Name</div>
        </div> -->
        <input class="form-control form-signup-home" id="modalinput" type="text" placeholder="Last Name" ng-model="user.last_name" required>
        <input class="form-control form-signup-home" id="modalinput" type="email" placeholder="Email" ng-model="user.email" required>
        <input class="form-control form-signup-home" id="modalinput" type="password" placeholder="password" ng-model="user.password" required>
        <button type="submit" class="btn btn-info" id='signupBtn' ng-disabled="loginForm.$invalid">Sign-Up</button>
      </div>
    </div>
  </form>
</div>
<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <video autoplay loop class="fillWidth">
      <source src="/Love-Coding/mp4/love-coding.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="/Love-Coding/webm/love-coding.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
      <img src="/Love-Coding/snapshots/love-coding.jpg" alt="">
    </div>
    <div class="overlay">
      <center>
        <h1 id="title">Web-Refinery</h1>
        <h2 class="title-text">Set Your Website Apart</h2>
        <h3 class="title-text">Build a Beautiful, free webpage template</h3>
        <button id='btn' type="submit" data-toggle="modal" data-target=".bs-example-modal-lg">
          <i class="fa fa-home faa-home animated fa-3x"></i>
          <h5 class="faa-burst animated">Sign Up</h5></button>
      </center>
    </div>
  </div>
</div>
<div class="container" data-sr-container='{ "reset":true, "vFactor": 0.2 }' id="firstanimation">
  <div class="col-xs-2 col-mg-2 col-lg-2" id="simple" data-sr="enter from the top after .2s">
    <h1>SIMPLE YET POWERFUL</h1>
    <h4>Creating your website with WebRefinery is a
    simple, intuitive process. Just add and arrange
    your content and features anywhere you want
    with the click of a mouse.</h4>
  </div>
  <div class="col-xs-7 col-mg-7 col-lg-7">
    <div data-sr="wait 1s and then ease-in-out 50px">
      <img src="https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/8734/assets/pages/tour/overview/isometric/3-bottom-1500w.jpg" id='imagebottom'>
    </div>
    <div data-sr="wait 2s and then ease-in-out 50px">
      <img src='https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/8734/assets/pages/tour/overview/isometric/3-top-1500w.png' id="imagetop">
    </div>
  </div>
</div>
<div class="col-xs-12 col-mg-12 col-lg-12" id="secondanimation">
  <div data-sr='enter from the bottom'>
    <h2>Stand out with a theme that fits you</h2>
  </div>
</div>
